
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: rgb(46, 40, 40);
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #1ffe17;
    font-size: 60px;
    font-family: sans-serif;
    letter-spacing: 7px;
    font-size: 120px;
   
}